* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    --primary-color: #5100FF;
    --default-background-color: #00ff6a;
}

body {
    background-color: rgb(0, 140, 255);
    font-family: 'Archivo', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

body #container {
    width: 1024px;
    height: 720px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.8s;
}

body #container #options {
    width: 341px;
    height: 720px;
}

body #container #options .option-button {
    width: 341px;
    height: 180px;
    font-family: Poppins;
    color: white;
    background-color: var(--primary-color);
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

body #container #options .option-button:first-child {
    font-size: 45px;
    border-radius: 30px 0px 0px 0px;
    transition: 0.5s;
}

body #container #options .option-button:first-child:hover {
    font-size: 45px;
    border-radius: 30px 0px 0px 0px;
    opacity: 100%;
    color: transparent;
    background-image: url("../src/images/GitHub-Mark.png");
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

body #container #options .option-button:nth-child(2) {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body #container #options .option-button:nth-child(3) {
    font-size: 35px;
    background-color: var(--primary-color);
}

body #container #options .option-button:nth-child(4) {
    background-color: var(--primary-color);
    border-radius: 0px 0px 0px 30px;
}

body #container #options .option-button:nth-child(4):hover {
    background-color: var(--default-background-color);
}

body #container #game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body #container #game #interaction {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

body #container #game #interaction .area {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    background-color: var(--primary-color);
    margin: 10px;
    box-shadow: 7px 10px 5px rgb(179, 179, 179);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
}

body #container #game #interaction .area:hover {
    background-color: yellow;
    transition: 0.7s;
    background-image: url("../src/images/circleicon.png");
}

body #container #options .gamemode {
    width: 341px;
    height: 360px;
    background-color: var(--primary-color);
}

body #container #options .gamemode .gamemode-button {
    width: 341px;
    height: 120px;
    background-color: yellow;
    border: 0px;
}

body #container #options .gamemode .gamemode-button:nth-child(1) {
    background-image: url('../src/images/pvp-341x120.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}
body #container #options .gamemode .gamemode-button:nth-child(1):hover {
    background-color: var(--primary-color);
}

body #container #options .gamemode .gamemode-button:nth-child(2) {
    background-image: url('../src/images/pvm-341x120.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}
body #container #options .gamemode .gamemode-button:nth-child(2):hover {
    background-color: var(--primary-color);
}
body #container #options .gamemode .gamemode-button:nth-child(3) {
    background-image: url('../src/images/mxm-341x120.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}
body #container #options .gamemode .gamemode-button:nth-child(3):hover {
    background-color: var(--primary-color);
}