* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    --primary-color: #2984d5;
    --default-background-color: #00bd4f;
    --selected-area-color: rgb(94, 37, 160);
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Archivo', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    background-image: url("../src/images/Backgrounds/2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --selected-area-img: url("../src/images/xicon.png"); 
}

body #container {
    width: 1024px;
    height: 720px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.8s;
}

body #container #options {
    width: 341px;
    height: 720px;
}

body #container #options .option-button {
    width: 341px;
    height: 180px;
    font-family: Poppins;
    color: white;
    background-color: var(--primary-color);
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

body #container #options .option-button:first-child {
    font-size: 45px;
    border-radius: 30px 0px 0px 0px;
    transition: 0.5s;
}

body #container #options .option-button:first-child:hover {
    font-size: 45px;
    border-radius: 30px 0px 0px 0px;
    opacity: 100%;
    color: transparent;
    transition: 0.8s;
    background-image: url("../src/images/GitHub-Mark.png");
    background-position: center;
    background-size: cover;
    
}

body #container #options .option-button:nth-child(3) {
    background-color: var(--primary-color);
    border-radius: 0px 0px 0px 30px;
}

body #container #game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body #container #game #interaction {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

body #container #game #interaction .area {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    background-color: var(--primary-color);
    margin: 10px;
    box-shadow: 7px 10px 5px rgb(179, 179, 179);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
}

body #container #game #interaction .area:hover {
    transition: 0.7s;
    background-image: var(--selected-area-img);
}

body #container #options .gamemode {
    width: 341px;
    height: 360px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* Buttons estilization*/
